<!doctype html>
<html>
  <head>
    <title> iAgent </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/screen.css"> -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">iAgent</a>
      </div>
      <ul class="nav navbar-nav ">
        <li><a href="/demo">Demo</a></li>
        <li><a href="/tech">Techniques</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/ref">Reference</a></li>
        <li><a href="https://github.com/Liao-YiHsiu/crazyflie-project" target="_blank">Github</a></li>
    </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>

