<div class="row">
    <div class="col-lg-12">
        <h1 align="center" class="page-header"><strong>About Us</strong></h1>
        <ul>
        <div class="col-md-8 col-md-offset-2">
        <li><h2>Yi-Hsiu Liao: r03921048@ntu.edu.tw </h2></li>
        <li><h2>Chia-Hui Chen: b00901129@ntu.edu.tw </h2></li>
        <li><h2>Hsiang-Hung Lu: r03942039@ntu.edu.tw </h2></li>
        </div>
        
    </div>
</div>
