<div class="row">
    <div class="col-lg-12">
        <h2 align="center" class="page-header">Reference</h2>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-md-8 center">
        <ul>
            <li><a href="https://github.com/shantnu/Webcam-Face-Detect">Face Recognition</a></li>
            <li><a href="http://blog.csdn.net/gjy095/article/details/9206621">Optical Flow</a></li>
            <li><a href="http://opencv-python-tutroals.readthedocs.org/en/latest/py_tutorials/py_imgproc/py_contours/py_contour_features/py_contour_features.html
">Contour Feature</a></li>
            <li><a href="http://vision.in.tum.de/_media/spezial/bib/dunkley14msc.pdf">Visual Inertial Control of a Nano-Quadrotor, Oliver Montague Welton Dunkley, MS Thesis</a></li>
    </div>
    <div class="col-lg-2"></div>
</div>
