<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><strong>Technical Details</strong></h1>
    </div>
    <div class="col-md-6 center">
        <ul>
            <li><h2>CrazyFlie Nano Quadcopter 2.0</h1></li>
            <li><h2>Camera and Video Transmission System</h1></li>
            <li><h2>OpenCV Video Tracking</h1></li>
    </div>
    <div class="col-md-6 center">
        <img class="img-responsive" src="img/gathering.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 align="right" class="page-header"><strong>CrazyFlie Nano Quadcopter</strong></h1>
    </div>
    <div class="col-md-6 center">
        <img class="img-responsive" src="img/nakefly.jpg" alt="">
    </div>
    <div class="col-md-6 center">
        <ul>
            <li><h2>3.7V 240mAh battery</h2></li>
            <li><h2>PC python control client with debugging display</h2></li>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1  class="page-header"><strong>PID Control Recommendation</strong></h1>
    </div>
    <div class="col-md-6"> 
         <p>Untuned PID control would induce the quadcopter to <strong>constantly drift toward the same direction.</strong> 
           After drawing the debugging inforamtion( pitch, yaw), we found that both cannot converge in expected time. 
           One possibility is that the convergence is far away in time axis, the other possibility that it may be divergent.</p> 
           <p>When controlling by Kp, Ki, Kd, The I term indicates the integral control, 
            which means the <strong>error propagation would accumulate along the flight.</strong>
           The first tuning technique is based on <strong>raising up the Ki value ( e.g. 4 -> 80 )</strong> that can intensively balance the quadcopter. 
              However, larger Ki introduces <strong>fluctuation during the flight</strong>, or <strong>overshooting in the control curves</strong>. 
              The Ki should be tuned exactly on the value that can hold the roll, pitch from swinging.</p>
        <p>Another observation is that the <strong>4 motors of the quadcopter are imbalanced</strong>. 
           When mounted with Camera/Tx System, the center of mass should be unbiased.
           In order to hover in the same height, the ratio of forced induced to each motor is about  M1:M2:M3:M4 = 1:0.8:1:0.8, 
           which explains the instablity when taking off.</p>
    </div>
    <div class="col-lg-6">
        <img class="img-responsive" src="img/pid.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 align="center" class="page-header"><strong>Camera and Video Transmission System</strong></h1>
    </div>
    <div class="col-lg-12">
        <img class="img-responsive" src="img/transmission.png" alt="">
    </div>
    <div>
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
        </div>
    </div>
    <div class="col-md-4 center">
        <img class="img-responsive" src="img/camera_system_front.jpg" alt="">
    </div>
    <div class="col-md-4 center">
        <p>5.8G Wireless Transmission Rx/Tx Pair</p>
        <p>1-gram PAL Camera</p>
        <p>EasyCap Video Capture</p>
        <p>Power Supply</p>
        <ul>
                <li>Voltage Regulator</li>
                <li>Tx directly powered by battery</li>
                <li>Rx directly powered by USB 5V</li>
        </ul>
        <p><strong>Overall latency about 0.4 second</strong></p>
    </div>
    <div class="col-md-4 center">
        <img class="img-responsive" src="img/camera_system_back.jpg" alt="">
    </div> 
   
</div>

<div class="row">
    <div class="col-lg-6">
        <h1 align="center">Transmitter</h1>
    </div>
    <div class="col-lg-6">
        <h1 align="center">Receiver</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/TX.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 8 channel 5.8GHz Wireless Audio/Video Transmitter </li>
        <li> 2.2g with antenna soldered </li>
        <li> Channel 1/2/3 pins floated(default Channel 8 - 5.945 gHz)
        <li> Audio pin floated(audio output disabled) </li>
        <li> Powered by 3.7V Secondary Battery </li> 
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/93-200mw-58ghz-a-v-transmitter.html" >Seller</a>
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 5.8G mounted antenna </li>
        <li> Soldered with RCA cable as video output. </li>
        <li> Soldered with USB cable as power supply. </li>
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/product.php?id_product=20" >Seller</a>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/Rx.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h1 align="center">Camera</h1>
    </div>
    <div class="col-lg-6">
        <h1 align="center">EasyCap</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/camera.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 762x572 interlaced video with 25 FPS </li>
        <li> PAL system weigh only 1 gram </li>
        <li> Powered by 3.7V battery </li>
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/63-1-gram-nano-camera-480tvl.html" >Seller</a>
    </div>
    <div class="col-lg-3">
        <ul>
        <li> Work as digitizer that can convert analog video into PC</li>
        <li> Sogmagic Easycap is tested now, but the driver is only compatible with Windows OS</li>
        <li> Hauppauge 610 USB-Live 2 was tested before and well fit into Linux kernel</li>
        <li> When used, connect RCA cable to the video input</li>
        <a class="btn btn-default"  target="_blank" href="http://mall.pchome.com.tw/prod/AHABAV-A80973498" >Seller</a>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/easycap.jpg" alt="">
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <h1 align="center">Voltage Regulator</h1>
    </div>
    <div class="col-lg-3">
        <h1 align="center">Battery</h1>
    </div>
    <div class="col-lg-3">
        <h1 align="center">Recharger</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/U1V11F5.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <p>Because the Crazyflie voltage output suffers from significant variation that will introduce noise in the images, Voltage Regulator is propsed to enhance the video quality.</p>
        <p>Pololu Step-Up Voltage Regulator U1V11F5 is tested here. </p>
        <p>However, U1V11F5 highly interferes with mounted Tx</p>
        <p>Some thesis proposes that Pololu 5V Step-Up/Step-Down Voltage Regulator <strong>S7V7F5 can flawlessly remove the induced noise.</strong></p>
        <p>VR is not used in the end.</p>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/battery.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/recharger.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 align="center" class="page-header"><strong>Power Supply Issue</strong></h1>
    </div>
    <div class="col-md-8 col-md-offset-2 center"> 
        <h2> We have examined 3 types of power supply methods:</h2>
    </div> 
    <div class="col-md-4 center">
        <h3 align="center"> 1 Battery </h3>
        <p>Default Crazyflie setting is based on 1 battery.</p>
        <p>The Crazyflie itself induces significant load to the battery. If the Camera/Tx system directly connects to the battery, it will suffer from <strong>voltage instability</strong> and generate <strong>noise</strong> on output images. The noise remains the same even if we draw currents from the on-board Vcc or Vcom.</p>
    </div>
    <div class="col-md-4 center">
        <h3 align="center"> 1 Battery + Voltage Regulator </h3>
        <p>Due to the voltage instability, we introduce a <strong>voltage regulator</strong> aimming to reduce the noise. </p>
        <p>When developing on bread-board, all things went well and the VR successfully provided stable voltage. However, when the Camera/Tx system is soldered on board, the EM wave introduces innegligible noise and will produce <strong>35kHz 0.165V stable noise signal.</strong></p>
        <p>We try to solder additional filter capacitor in the output to reduce the noise. The reduction takes effect but the images are still infeasible. In the end <strong>we discarded the VR</strong> because the noise highly corrupted the video and the tracking system.</p>
    </div>
    <div class="col-md-4 center">
        <h3 align="center"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 2 Batteries</h3>
        <p>Single battery cannot afford the Camera/Tx system and Crazyflie simultaneously, so why dont we try double batteries?</p>
        <p>We separate the Crazyflie and Camera/Tx circuit, powering them by two batteries. This method is simple and intuitive, but the cost is the over-weighting of whole system. The motors almost reach their limit to afford the flight.</p>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><strong>OpenCV - Face Recognition and Optical Flow</strong></h1>
    </div>
    <div class="col-md-6 center">
        <p>In this part, we use <strong>OpenCV2-Python library</strong> to track human faces. 
           We first use <strong>Haar Feature-based Cascade Classifier</strong> to detect face and set contraints to get the only face we need. </p>
        <p>Then, we try the <strong>optical flow</strong> to get the direction of human face movement. For safity, we use only part of rectangle obtained from face detection. The left figure is the result of no movement, and the right one is the result of  some horizonal movement. The arrows on the figure showing the direction and magnitude of movement.</p> 
        <p>However, the face detection is not stable enough and the optical flow requires high computational complexity. With both systems, we encountered inneglectable latency ( about 2 sec ). Thus we do not integrate these systems in the end.</p>
    </div>
    <div class="col-md-3 center">
        <img class="img-responsive" src="img/face.png" alt="">
    </div>
    <div class="col-md-3 center">
        <img class="img-responsive" src="img/optical.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 align="right" class="page-header"><strong>Simplified Tracking - Colored Ball</strong></h1>
    </div>
    <div class="col-md-6 center">
        <img class="img-responsive" src="img/track.png" alt="">
    </div>
    <div class="col-md-6 center">
        <p>Because the face tracking is currently not feasible for our system, we simplify it to a <strong>colored ball tracking problem</strong>.</p>
        <p>First, we <strong>transform the images from RGB to HSV</strong>. 
           Because the 3 components in RGB color model are all correlated with light, 
           descriptions in HSV color model are often used in image analysis. 
           By clicking the ball on the screen, the program will take the HSV value of the point into the new contraint. 
           Therefore, we will successfully track the colored region showing in the right figure. 
           The red point is the center of the white contour indicating the target object. 
           Additional filters are adopted to check if the white contour is the target object or not.</p>
    </div>
</div>
<div>
    <div class="col-lg-12">
        <h1 class="page-header"></h1>
    </div>
</div>
