<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">iAgent - Flying Surveilance System</h2>
    </div>
    <div class="col-md-6 center">
        <p>The full system contains following techniques: </p>
        <ul>
            <li><strong>CrazyFlie Nano Quadcopter 2.0</strong></li>
            <li>Camera and Image Transmission System</li>
            <li>OpenCV Video Tracking</li>
    </div>
    <div class="col-md-6 center">
        <img class="img-responsive" src="img/gathering.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 align="right" class="page-header">CrazyFlie Nano Quadcopter</h2>
    </div>
    <div class="col-md-6 center">
        <img class="img-responsive" src="img/nakefly.jpg" alt="">
    </div>
    <div class="col-md-6 center">
        <p>CrazyFlie Nano Quadcopter 2.0</p>
        <p> TODO: short descripion on crazyflie </p>
        <ul>
            <li>Python Control Panel</li>
            <li>Statistically Debugging Display</li>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2 align="center">CrazyRadio</h2>
    </div>
    <div class="col-lg-6">
        <h2 align="center">Control Panel</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <img class="img-responsive" src="img/Crazyflie.jpg" alt="">
    </div>
    <div class="col-lg-6">
        <img class="img-responsive" src="img/Crazyflie.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2  class="page-header">PID Control Recommendation</h2>
    </div>
    <div class="col-md-6">
        <p></p>
        <ul>
            <li><strong>CrazyFlie Nano Quadcopter 2.0</strong></li>
            <li>Camera and Image Transmission System</li>
            <li>OpenCV Tracking</li>
            <li>Appendix: Hardware</li>
    </div>
    <div class="col-lg-6">
        <img class="img-responsive" src="img/Crazyflie.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 align="center" class="page-header">Camera and Image Transmission System</h2>
    </div>
    <div class="col-lg-12">
        <img class="img-responsive" src="img/transmission.png" alt="">
    </div>
    <div>
        <div class="col-lg-12">
            <h2 class="page-header"></h2>
        </div>
    </div>
    <div class="col-md-4 center">
        <img class="img-responsive" src="img/camera_system_front.jpg" alt="">
    </div>
    <div class="col-md-4 center">
        <p>5.8G Wireless Transmission Rx/Tx Pair</p>
        <p>1-gram PAL Camera</p>
        <p>EasyCap Video Capture</p>
        <p>Power Supply</p>
        <ul>
                <li>Voltage Regulator</li>
                <li>Tx directly powered by battery</li>
                <li>Rx directly powered by USB 5V</li>
        </ul>
        <p><strong>Overall latency about 0.4 second</strong></p>
    </div>
    <div class="col-md-4 center">
        <img class="img-responsive" src="img/camera_system_back.jpg" alt="">
    </div> 
    
</div>

<div class="row">
    <div class="col-lg-6">
        <h2 align="center">Transmitter</h2>
    </div>
    <div class="col-lg-6">
        <h2 align="center">Receiver</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/TX.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 8 channel 5.8GHz Wireless Audio/Video Transmitter </li>
        <li> 2.2g with antenna soldered </li>
        <li> Channel 1/2/3 pins floated(default Channel 8 - 5.945 gHz)
        <li> Audio pin floated(audio output disabled) </li>
        <li> Powered by 3.7V Secondary Battery </li> 
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/93-200mw-58ghz-a-v-transmitter.html" >Seller</a>
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 5.8G mounted antenna </li>
        <li> Soldered with RCA cable as video output. </li>
        <li> Soldered with USB cable as power supply. </li>
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/product.php?id_product=20" >Seller</a>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/Rx.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2 align="center">Camera</h2>
    </div>
    <div class="col-lg-6">
        <h2 align="center">EasyCap</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/camera.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <ul>
        <li> 762x572 interlaced video with 25 FPS </li>
        <li> PAL system weigh only 1 gram </li>
        <li> Powered by 3.7V battery </li>
        <a class="btn btn-default"  target="_blank" href="http://www.fpvhobby.com/63-1-gram-nano-camera-480tvl.html" >Seller</a>
    </div>
    <div class="col-lg-3">
        <ul>
        <li> Work as digitizer that can convert analog video into PC</li>
        <li> Sogmagic Easycap is tested now, but the driver is only compatible with Windows OS</li>
        <li> Hauppauge 610 USB-Live 2 was tested before and well fit into Linux kernel</li>
        <li> When used, connect RCA cable to the video input</li>
        <a class="btn btn-default"  target="_blank" href="http://mall.pchome.com.tw/prod/AHABAV-A80973498" >Seller</a>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/easycap.jpg" alt="">
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <h2 align="center">Voltage Regulator</h2>
    </div>
    <div class="col-lg-3">
        <h2 align="center">Battery</h2>
    </div>
    <div class="col-lg-3">
        <h2 align="center">Recharger</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <img class="img-responsive" src="img/U1V11F5.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <p>Voltage Regulator</p>
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/battery.jpg" alt="">
    </div>
    <div class="col-lg-3">
        <img class="img-responsive" src="img/recharger.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">OpenCV - Face Recognition and Optical Flow</h2>
    </div>
    <div class="col-md-6 center">
        <p>In this part, we use <strong>OpenCV2-Python library</strong> to track human face. 
           We first use <strong>Haar Feature-based Cascade Classifier</strong> to detect faces and set distance and size contrain to get the only face we need. </p>
        <p>Then, we try the <strong>optical flow</strong> to get the direction of human face movement. For safity, we do not use the whole rectangle getting from face detection, but only use the center part of it. The left figure is the result of no movement, and the right one is the result of  some horizonal movement. The arrows on the figure showing the direction and magnitude of movement.</p> 
        <p>However, the face detection is not stable enough and the optical flow requires high computational complexity. With both system, we encountered neglectable latency ( about 2 sec ). Thus we do not integrate these systems in the end.</p>
    </div>
    <div class="col-md-3 center">
        <img class="img-responsive" src="img/face.png" alt="">
    </div>
    <div class="col-md-3 center">
        <img class="img-responsive" src="img/optical.png" alt="">
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 align="right" class="page-header">Simplified Tracking - Colored Ball</h2>
    </div>
    <div class="col-md-4 center">
        <img class="img-responsive" src="img/face.png" alt="">
    </div>
    <div class="col-md-2 center">
        <img class="img-responsive" src="img/optical.png" alt="">
    </div>
    <div class="col-md-6 center">
        <p>In this part, we use <strong>OpenCV2-Python library</strong> to track human face. 
           We first use <strong>Haar Feature-based Cascade Classifier</strong> to detect faces and set distance and size contrain to get the only face we need. </p>
        <p>Then, we try the <strong>optical flow</strong> to get the direction of human face movement. For safity, we do not use the whole rectangle getting from face detection, but only use the center part of it. The left figure is the result of no movement, and the right one is the result of  some horizonal movement. The arrows on the figure showing the direction and magnitude of movement.</p> 
        <p>However, the face detection is not stable enough and the optical flow requires high computational complexity. With both system, we encountered neglectable latency ( about 2 sec ). Thus we do not integrate these systems in the end.</p>
    </div>
</div>
<div>
    <div class="col-lg-12">
        <h2 class="page-header"></h2>
    </div>
</div>
